<div class="card-group">
  <div class="card" style="width:800px; border-color: white;">
    <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img" src="https://i.ibb.co/41Jk3r5/hospital-1338585-1280.jpg" alt="Card image">
  </div>
  <div class="card" style="width:800px; border-color: white;">
    <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img-top" src="https://i.ibb.co/YbTPy6J/df2e2e87b14d03e6f00cc0bbef38fd5b.jpg" alt="Card image cap">
    <!-- <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div> -->
  </div>
  <div class="card" style="width:800px; border-color: white;">
    <img style="opacity:0.4;filter:alpha(opacity=40);" class="card-img" src="https://i.ibb.co/8dTdQxw/odontologia-laser-clinica-dental-odontic.jpg" alt="Card image">
  </div>
</div>
<div class="card mx-auto">
<h1 style="text-align: center;">Bienvenido </h1>
<h1 style="text-align: center;">SISTEMA INTEGRAL CLINICO </h1>
</div>