<app-nav></app-nav  >
    
<!-- Contenido -->
<div class="card col-md-2 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><i class="faCarCrash" class="fa-2x"></i><strong><h2>Pacientes</h2></strong></div>

<!-- Llenado rapido-->
<div class="card col-md-5 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Registro de Pacientes</h2></strong></div>
<div class="card col-md-6 offset-md-3 mt-2">
<form #formGuardar="ngForm" (ngSubmit)="Registro(formGuardar)">
    <div class="form-group">
      <h4><strong>CURP</strong></h4>
      <input type="text" class="form-control text-center" pattern="[A-Z]*" style="text-transform: uppercase; font-size: 1rem " name="curps" [(ngModel)]="curp" #CURPs="ngModel" id="curp" aria-describedby="CURP" placeholder="VI1234">
    </div>
   
      <hr>
    <button type="submit" class="btn btn-primary btn-block mb-2" style="font-size: 1rem" value="Guardar"><strong>Ingresar</strong></button>
  </form>
</div>

<!-- Llenado completo -->
<div class="card col-md-7 mt-3 ml-1 text-white text-center form-inline" style="background-color: #1a3263"><strong><h2>Informacion Detallada</h2></strong></div>
<div class="card col-md-10 offset-md-1 mt-2">
<form #formGuardar="ngForm" (ngSubmit)="onGuardar(formGuardar)">
    <div class="form-group mt-3">
      <h4><strong>FOLIO INTERNO</strong></h4>
      <input type="text" class="form-control text-center" style="font-size: 1rem" id="folio" aria-describedby="FOLIO"  placeholder="XXXX000000XXXXXX00" [(ngModel)]="folio" #FOLIOs="ngModel">
    </div>
    
<!-- fomrmulario de Servicio -->
    <h4><strong>REGISTRO</strong></h4><hr>
    <!-- Express -->
    <div class="card" >
        <div class="card-header">
            <h4><i class="faShippingFast"></i><strong>DATOS GENERALES</strong></h4>
        </div>
        <div class="card-body text-center">
          <div class="form-row ">
            <div class="col-auto mx-auto">
              <label  for="inlineFormInputGroup">FECHA DE NACIMIENTO</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="faFileInvoice"></i></div>
                  </div>
                <input type="date" class="form-control" id="inlineFormInputGroup" value="{fechan}" placeholder="XX/xX/XX" name="fecha" [(ngModel)]="fechan" #fechanacimiento="ngModel"> 
              </div>
              <label  for="inlineFormInputGroup">ENTIDAD NACIMIENTO</label>
              <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="faCar"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ENTIDAD" name="entidadn" [(ngModel)]="entidad" #entidadn="ngModel">
                </div>
                <label  for="inlineFormInputGroup">NACIONALIDAD ORIGEN</label>
              <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="faCar"></i></div>
                  </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nacionalidad" name="norigenn" [(ngModel)]="norigen" #nacionalidad="ngModel">
                </div>
            </div>
                <div class="col-auto mx-auto">
                    <label  for="inlineFormInputGroup">ESTADO RESIDENCIA</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="faSerial"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="ESTADO RESIDENCIA" name="edresidencia" [(ngModel)]="edo" #edor="ngModel">
                    </div>
                    <label  for="inlineFormInputGroup">MUNICIPIO</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="faKm"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Municipio" name="municipsio" [(ngModel)]="municipio" #mun="ngModel">
                    </div>
                    <label  for="inlineFormInputGroup">CODIGO POSTAL</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="faKm"></i></div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="CP" name="cps" [(ngModel)]="cp" #codigop="ngModel">
                    </div>
                  </div>
                  <div class="col-auto mx-auto">
                    <p class="" for="inlineFormInputGroup"><strong>SEXO</strong></p><hr>
                      <div class="text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionM" value="H" [(ngModel)]="sexo" #Sexos="ngModel">
                            <label class="form-check-label" for="OptionSiTC" style="font-size: 1rem"><i class="fas fa-male"></i><br><strong>Masculino</strong></label>
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="OptionM" value="M" [(ngModel)]="sexo" #Sexos="ngModel">
                            <label class="form-check-label" for="OptionSiTC" style="font-size: 1rem"><i class="fas fa-female"></i><br><strong>Femenino</strong></label>
                          </div>
                      </div>
                  </div>
          </div>
        </div>
    </div>
    
<!-- Envio formulario Llenado completo-->
    <button type="submit" class="btn btn-primary btn-block mb-2" style="font-size: 1rem" value="Guardar"><strong>Ingresar</strong></button>
  </form>
</div>