<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #c0c9dbbb ;">
    <img class="card-img-top" src="https://i.ibb.co/YXrcyQx/miuUsoft.png" alt="miuUsoft" style="width: 12%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: black;"></span>
      </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="status">
        <ul class="navbar-nav" >
        <li class="nav-item active">
            <a class="nav-link" routerLink="active-link" routerLink="/home">
            <i class="fas fa-house-user fa-2x" style="color: black;"></i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="active-link" routerLink="/citas">
            <i class="fas fa-calendar-alt fa-2x" style="color: black;"></i>
            </a>
        </li>
         <li class="nav-item active" *ngIf="admin">
            <a class="nav-link" routerLink="active-link" routerLink="/inventario">
            <i class="fas fa-boxes fa-2x" style="color: black;"></i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="active-link" routerLink="/pacientes">
            <i class="fab fa-accessible-icon fa-2x" style="color: black;"></i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="active-link" routerLink="/receta">
            <i class="fa fa-list-alt fa-2x" style="color: black;"></i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="active-link" routerLink="/register">
            <i class="fas fa-user-cog fa-2x" style="color: black;"></i>
            </a>
        </li>
    </ul>
    </div>
    <ul class="navbar-nav" >
        <li class="navbar-nav nav-item" *ngIf="status"  >
            <a class="nav-link" (click)="onClickLogOut()" routerLinkActive="active-Link" routerLink="/login">
                <i style="color: black;" class="fas fa-sign-out-alt"></i>
                <strong style="color: black;">SALIR  </strong>
            </a>
        </li>
    </ul>
</nav>