
<div class="card col-md-fill mt-3 ml-2 text-white text-center form-inline" style="background-color: #1a3263"><i class="fa fa-user" class="fa-2x"></i><strong><h2>Receta Medica</h2></strong></div>
<script src="print.js"></script>

<!-- Llenado rapido-->
<div class="card-group">
  <div class="card col-md-2 mt-3  text-white text-center form-inline" style="background-color: #1a3263"><strong><h5>BUSCAR PACIENTE</h5></strong>
    <div class="input-group" >
      <div class="input-group-prepend" data-html2canvas-ignore="true">
        <div class="input-group-text"> <i class="fas fa-id-card	"></i></div>
      </div>
      <input style="border-top: white; border-right: white; "  type="text" class="form-control text-center"  style=" font-size: 1rem " name="curp" [(ngModel)]="folio" #folios="ngModel" id="folio" aria-describedby="folio" placeholder="198237821" >
      <div class="input-group-prepend">
        <div class="form-control" (click)="searchpaci(folio);gethistory();"> <i class="fas fa-search"></i></div>
      </div>
    </div>
    <br>
  </div>
  <div class="card-header">
    <h6>Consultas Realizadas: {{historialdata.length}} </h6>
    <ul>
        <li *ngFor="let receta of historialdata">
          <button (click)="viewhistory(historial, receta);">{{ receta.fecha}}</button>
        </li>
    </ul>
  </div>

</div>

<div #contentpdf id="contentpdf">
    <br><br><br>
    <div class="card-group" >
<div class="card" style="border-color: white;" >
  <img src="https://i.ibb.co/9N0MgPB/logo.png"  alt="SIClogo" style="width: 40%;">
 <br> <h6>{{fechaactual}}</h6>
</div>
<div class="card" style="border-color: white;" >
  <h5>Medico: {{medico}} </h5>
  <h5>Cedula Profesional: {{cedula}}</h5>
  <h5>Clinica: {{clinica}}</h5>
</div>
<div class="card" style="border-color: white;" >
      <h5>Folio: {{foliop}} </h5>
      <h5>Paciente: {{nombre}}</h5>
      <h5>CURP: {{curp}}</h5>
      <h5>Correo: {{correo}}</h5>
      <h5>Telefono: {{telefono}}</h5>
      <h5>Edad: {{edad}}</h5>
    </div>
  </div>
<form class="form" #formGuardar="ngForm" (ngSubmit)="onSubmit(formGuardar)">
<div class="card-group" >
    <div class="card col-md-4" style="border-color: white;">
  <div class="card-header" >
    <h5><strong>Registro Vitales</strong></h5></div>
    <label  f>Alergias</label>
          <div class="input-group"  >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fas fa-head-side-virus	"></i></div>
            </div>
              <input style="border-top: white; border-right: white; text-transform: capitalize;" type="text" class="form-control"  placeholder="" name="alergias" [(ngModel)]="alergias" #alergia="ngModel" required>
          </div>  
    <div class="form-row ">
        <div class="col mx-auto">
          <label  f>Estatura</label>
          <div class="input-group"  >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fas fa-male"></i> <i class="fas fa-long-arrow-alt-up"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="cm" name="estatura" [(ngModel)]="estatura" #cmestatura="ngModel" required>
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">CM</div>
            </div>
          </div>  
          <label  f>Peso</label>
          <div class="input-group" >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fas fa-weight"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="Kg" name="peso" [(ngModel)]="peso" #pesokg="ngModel" required>
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">KG</div>
            </div>
          </div>
          <label  f>Ritmo Cardiaco</label>
          <div class="input-group" >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fa fa-heartbeat"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="ppm" name="rpm" [(ngModel)]="rpm" #rpms="ngModel" required>            
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">PPM</div>
            </div>
          </div>  
        </div>
        <div class="col mx-auto">
          <label  f>Presion Sanguinea</label>
          <div class="input-group" >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fas fa-tachometer-alt"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="min/max mmhg" name="mmhg" [(ngModel)]="mmhg" #mmhgs="ngModel" required>
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">MMHG</div>
            </div>
          </div>              
          <label  f>Ritmo Respiratorio</label>
          <div class="input-group" >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fa fa-stethoscope"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="min/max" name="rrp" [(ngModel)]="rrp" #rrpn="ngModel" required>
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">RRPM</div>
            </div>
           </div>  
           <label  f>Temperatura</label>
          <div class="input-group" >
            <div class="input-group-prepend" data-html2canvas-ignore="true">
              <div class="input-group-text"> <i class="fas fa-thermometer-half"></i></div>
            </div>
            <input style="border-top: white; border-right: white;"  type="text" class="form-control"  placeholder="°C" name="temperatura" [(ngModel)]="temperatura" #temperaturas="ngModel" required>
            <div class="input-group-prepend">
                <div class="form-control" style="border: white;">°C</div>
            </div>
           </div>  
          
        </div>
    </div>
    </div>
    <div style="border-color: white;" class="card col-md-fill">
        <div>
            <h4 class="text-center">Diagnostico</h4>
            <hr width="70%" size="8" >
            <textarea class="form-control"  name="sintomas" [(ngModel)]="sintomas" #sintoma="ngModel" required></textarea>
            <h4 class="text-center">Prescripción</h4>
            <hr width="70%" size="8" >
            <div class="input-group" data-html2canvas-ignore="true" >
                <small>Agregar Medicamento  </small>

               <div class="input-group-prepend" >
                    <div (click)="query(addnew)"> <i style="color: green;" class="fas fa-plus-square fa-s"></i></div>
                </div>
                <br>
                
            </div>
            <table mdbTable hover="true" >
                <tbody *ngIf="lleno">
                  <tr mdbTableCol *ngFor="let el of elements" >
                    <td><h5>------</h5></td>  
                    <td><h5>{{el}} </h5></td>
                  </tr>
                </tbody>
              </table> 
              <br>
              <br>
            <h4 class="text-center">Indicaciones Adicionales</h4>
            <hr width="70%" size="8" >
            <textarea class="form-control"  name="adicional" [(ngModel)]="adicional" #adicionali="ngModel" required>------------</textarea>
        </div>
    </div>
</div>
<div  class="card row" style="border: white;">  
<br>
</div>
  <qrcode  [qrdata]= 'idunique' [width]="5" [errorCorrectionLevel]="'M'"></qrcode>
  <div class="card text-center">
    <h6>******Esta receta medica es unica y debe ser autorizada con la firma del medico que la proporcione para su uso****** </h6>
  </div>
<button data-html2canvas-ignore="true" type="submit" class="btn btn-primary btn-block mb-2" style="font-size: 1rem" value="Guardar" ><strong>Imprimir</strong></button>
</form>

<br>
<br></div>
<br>
<ng-template #addnew let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Agregar Medicamento</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng2-smart-table  (custom)="onCustomAction($event)"   [settings]="tableset" [source]="source"></ng2-smart-table>

    <ng2-smart-table (deleteConfirm)="deleteData($event)" [settings]="tableconfi" [source]="sourcetable"></ng2-smart-table>
</div>  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close(); add();">
      OK
    </button>
  </div>
</ng-template>

<ng-template #historial let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Historial Clinico</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modaldata.fecha}}
    <div class="card-group">
      <div class="card col-md3">
        <h5><strong>Registro Vitales</strong></h5>
        <label>Alergias: {{modaldata.alergias}}</label>
        <label>Estatura: {{modaldata.alergias}} cm</label>
        <label>Peso: {{modaldata.alergias}} kg</label>
        <label>Ritmo cardiaco: {{modaldata.alergias}} ppm</label>
        <label>Presión: {{modaldata.alergias}} mmhg</label>
        <label>Ritmo Respiratorio: {{modaldata.alergias}} rrpm</label>
        <label>Temperatura: {{modaldata.alergias}} °C</label>
      </div>
      <div class="card">
        <h5><strong>Medico</strong></h5>
        <label>Dr.: {{modaldata.medico}}</label>
        <label>Clinica: {{modaldata.clinica}}</label>
        <h5><strong>Receta Medica</strong></h5>
        <label>Número de receta: {{modaldata.id}}</label>
        <label>Diagnostico: {{modaldata.diagnostico}} </label>
        <label>Prescripcion: {{modaldata.prescripcion}} </label>
        <label>Indicaciones Adicionales: {{modaldata.adicional}} </label>
      </div>
    </div>
   

  </div>
        <!-- <div class="card col-md-4" style="border-color: white;">
              <label  f>Estatura</label>
              <div class="input-group"  >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text">{{historialdata.estatura}}</div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">CM</div>
                </div>
              </div>  
              <label  f>Peso</label>
              <div class="input-group" >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text">{{historialdata.peso}} </div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">KG</div>
                </div>
              </div>
              <label  f>Ritmo Cardiaco</label>
              <div class="input-group" >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text">{{historialdata.ppm}} </div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">PPM</div>
                </div>
              </div>  
            </div>
            <div class="col mx-auto">
              <label  f>Presion Sanguinea</label>
              <div class="input-group" >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text">{{historialdata.mmhg}} </div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">MMHG</div>
                </div>
              </div>              
              <label  f>Ritmo Respiratorio</label>
              <div class="input-group" >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text"> {{historialdata.rrpm}}</div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">RRPM</div>
                </div>
              </div>  
              <label  f>Temperatura</label>
              <div class="input-group" >
                <div class="input-group-prepend" data-html2canvas-ignore="true">
                  <div class="input-group-text"> <i class="fas fa-thermometer-half"></i></div>
                </div>
                <div class="input-group-prepend">
                  <div class="form-control" style="border: white;">{{historialdata.temperatura}}</div>
                </div>
              </div>  
            </div>
          </div>
        
      </div>
   -->
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close(); add();">
      OK
    </button>
  </div>
</ng-template>
